@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222 47% 11%;

		--muted: 204 45% 98%;
		--muted-foreground: 215 16% 47%;

		--primary: 217 91% 60;
		--primary-foreground: 0 0% 100%;

		--destructive: 0 95% 71%;
		--success: 160 84% 39%;

		--sidebar-background: 210 40% 98%;
		--sidebar-accent: 214 32% 91%;

		--ring: 213 27% 84%;
		--border: 214 32% 91%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply font-sans antialiased bg-background text-foreground;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
